<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="content-language" content="en-us">
  <link rel="stylesheet" href="/styles/style.css" type="text/css" media="screen" />
  <script src="/javascripts/jquery-min.js"></script>
  <title>Welcome</title>
</head>
<body>
Welcome!
</body>
</html>
